html, body, h1, p {
	padding:0;
	margin:0;
}
body {
	background-color:#ffebee;
	z-index:0;
	font-family: 'Roboto', sans-serif;
}
header {
	color:rgba(255,255,255,1.0);
	background-color:#f44336;
	text-align:center;
	padding:21px;
	z-index:21;
	position:relative;
	box-shadow:1px 1px 10px  #000;
	transition:0.5s ease-in;
}
nav {
	background-color:#ef5350;
	padding:0;
	z-index:20;
	position:relative;
	box-shadow:1px 1px 10px #000;
	transition:0.5s ease-in;
}
nav div {
	display:block;
	color:rgba(255,255,255,0.7);
	cursor:pointer;
	width:89px;
	margin:0 13px;
	z-index:20;
	position:relative;
	text-align:center;
	vertical-align:center;
	transition:0.5s ease-in;
}
nav div * {
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	margin:8px 0;
	position:relative;
}
.stdContainer {
	margin:13px 13px 0 13px;
	background-color:#ef5350;
	color:rgba(255,255,255,0.7);
	text-align:center;
	position:relative;
	z-index:19;
	box-shadow:1px 1px 10px #000;
	transition:0.5s ease-in;
}
.stdContainer ul {
	margin:13px auto;
	padding:0;
	width:100%;
}
.stdContainer ul li {
	list-style-type:none;
	display:inline-block;
	margin:5px 0;
	width:24%;
}
.stdContainer ul li a {
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	display:block;
}
.stdContainer .comment {
	border-left:1px solid rgba(255,255,255,0.3);
}
.stdContainer .amount {
	border-right:1px solid rgba(255,255,255,0.3);
	border-left:1px solid rgba(255,255,255,0.3);
}
.selectable {
	overflow:hidden;
}
.hiddenTop {
	opacity:0;
}
.hiddenTop * {
	opacity:0;
}
.clearFix {
	clear:both;
	height:0;
	width:0;
	padding:0;
	margin:0;
}
footer .addEntry {
	border-radius:50%;
	margin:13px auto;
	width:55px;
	height :55px;
	background-color:#ef5350;
	color:rgba(255,255,255,0.7);
	text-align:center;
	display:block;
	border:1px solid #ef5350;
}
footer .addEntry * {
	background-color:rgba(255,255,255,0.7);
}
footer .addEntry .vert {
	margin:10% auto;
	width:10%;
	height:80%;
}
footer .addEntry .hor {
	-webkit-transform:translate(0, -55px);
	-moz-transform:translate(0, -55px);
	-o-transform:translate(0, -55px);
	transform:translate(0, -55px);
	margin:50% auto;
	height:10%;
	width:80%;
}
.ink {
	display: block; position: absolute;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	transform: scale(0);
}
.ink.animate {
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
@-moz-keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
@-o-keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
